@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-ruben-login;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}
:host .acceder{
  background: blue;
  color: white;
}
:host .centrar{
  border-width:1px;
  padding:2px;
  cursor:pointer;
  display:block;
  width:290px;
  margin: 0 auto;
  text-align:left;
}
:host button{
  width: 100px;
  height: 24px;
}

:host #messageerror{
  color:red;
  font-style: italic;
}

:host #messageok{
  color: green;
  font-style: italic;


}
